<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">

        <!-- Lab Logos -->
        <div class="col-sm-4">
          <p>Affiliatons</p>
          <div style="display: flex; gap: 10px; flex-wrap: wrap; align-items: center;">
            <img class = "no-border" src="{{ site.baseurl }}/images/logo/ubc-logo-1_clear.png" alt="UBC Logo" style="width: 180px; height: auto; ">
            <img class = "no-border" src="{{ site.baseurl }}/images/logo/mohseni_logo.png" alt="Vancouver Prostate Centre Logo" style="width: 180px; height: auto;">
          </div>
        </div>

        <!-- Useful Links -->
        <div class="col-sm-4">
          <p>Links</p>
          <ul class="list-unstyled">
            <li><a href="https://github.com/GibbLab-UBC">Github</a></li>
            <li><a href="https://www.ubc.ca/" target="_blank">UBC</a></li>
            <li><a href="https://www.prostatecentre.com/about-us/people/dr-ewan-gibb" target="_blank">VPC</a></li>
            <li><a href="https://www.vchri.ca/our-research/research-centres-and-programs/m-h-mohseni-institute-urologic-sciences" target="_blank">Mohseni Institute</a></li>
          </ul>
        </div>

        <!-- Contact Info -->
        <div class="col-sm-4">
          <p>Contact</p>
          <address>
            Robert H.N. Ho Research Centre<br>
            2635 Laurel St,
            Vancouver, BC V6H 3Z6<br>_<br>
			<a href="mailto:ubcgibblab@gmail.com">ubcgibblab@gmail.com</a>
          </address>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
