<div id="footer">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">

        <!-- Affiliations -->
        <div class="col-sm-5">
          <p>Affiliations</p>

          <div class="footer-logos">

            <img class="no-border ubc-logo ubc-logo-light" src="{{ site.baseurl }}/images/logo/ubc-logo-1_blue.png"
              alt="University of British Columbia Logo">

            <img class="no-border ubc-logo ubc-logo-dark" src="{{ site.baseurl }}/images/logo/ubc-logo-1_white.png"
              alt="University of British Columbia Logo">

            <img class="no-border footer-mohseni-logo" src="{{ site.baseurl }}/images/logo/mohseni_logo.png"
              alt="Mohseni Institute for Urologic Sciences Logo">

          </div>
        </div>

        <!-- Quick Links -->
        <div class="col-sm-4">
          <p>Quick Links</p>

          <ul class="list-unstyled">
            <li>
              <a href="{{ site.baseurl }}/contact/">Contact</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/join-us/">Join Us</a>
            </li>
            <li>
              <a href="https://github.com/GibbLab-UBC" target="_blank" rel="noopener noreferrer">
                GitHub
              </a>
            </li>
          </ul>
        </div>

        <!-- Lab -->
        <div class="col-sm-3">
          <p>Gibb Lab</p>

          <p class="footer-lab-text">
            Vancouver Prostate Centre<br>
            University of British Columbia
          </p>

          <p class="footer-copyright">
            &copy; {{ site.time | date: "%Y" }} Gibb Lab
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>